/* mobile is global mobile is global mobile is global */

body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header {  
    border-bottom: 10px solid slateblue;
    margin-bottom: 5px;
    text-align: center;
    background-color: aquamarine;
    width: 100%;
}
h1 { 
    font-size: 2.5em;
}
#pfp { /*id to target profile pic but not other images */
    margin: 5px;
    width: fit-content;
    height: auto;
}

nav {
    border: 3px solid black;
    border-radius: 100%;
    align-self: center;
    width: 40%;
    padding: 55px;
    margin: 15px 0px;
}

nav li {
    padding: 10px;
    list-style-type: none;
    width: fit-content;
    margin-left: 25px;
}
nav li a {
    text-decoration: none;
    color:black;
    font-size: 2.2em;
    box-shadow: inset 0 0 0 0 cyan;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
nav li a:hover {
    box-shadow: inset 150px 0 0 0 slateblue;
    color: #69213f;
}
h2 {
    width: 100%;
    text-align: center;
}
main {
    margin-top: 10px;
    border-top: 10px solid slateblue;
}
#about {
    text-indent: 25px;
    padding: 0px 25px;
}
.project-box {
    margin-top: 10px;
    border-top: 10px solid slategray;
    display: flex;
    margin-top: 5px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    border: 5px solid;
    margin: 5px;
    flex: 50%;
}
.thumbnail {
    width: 100%;
    border: 5px solid blue;

}
div p {
    border: 5px solid blue;
}
footer {
    border-top: 10px solid slateblue;
    background-color: aquamarine;
    margin-top: 5px;
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}
.contact {
}
.contact a {
    text-decoration: none;
    color: black;
}
@media screen and (min-width:768px) {
    .container {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    nav:hover {
        background-image: url(/assets/wut.gif);
    }
    
}