/* mobile is global mobile is global mobile is global */
/* these 4 colors will be my primary theme so i am setting them as variables since each repeats several times */
:root {
--color-1: #338091;
--color-2: #9c3838;
--color-3: #0f3461;
--color-4: bisque;
}
/*serif font for everything unless specified, and for the container to fill the entire width of the page */
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* flex container will be columns for phone/tablet screen */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
/* header spans width of page and has a nice curved edge, follows the color scheme */
header {  
    border-bottom: 10px solid var(--color-1);
    margin-bottom: 5px;
    text-align: center;
    background-color: var(--color-3);
    width: 100%;
    border-bottom-left-radius: 42%;
    outline: 10px solid var(--color-2);
}

/* initially, pfp and h1 (my name) will be upside down, but the entire header will flip 180deg when hovered over, making my name and pfp upright but my subtitle upside-down, a fun little setup to go along with the relevant pfp */
header:hover {
        rotate: 180deg;
}
h1 { 
    font-size: 2.5em;
    color: var(--color-4);
    rotate: 180deg;
}
header h2 {
    color: var(--color-4);
    width: 80%;
    margin-left: 20%;
}
#pfp { /*id to target profile pic but not other images */
    margin: 5px;
    width: fit-content;
    height: auto;
    rotate: 180deg;
    background-repeat: no-repeat;
}

/* nav stands alone separate from the header and will be a circle that adjusts width w/screen-size changes to stay a nice circle */
nav {
    border: 10px solid var(--color-3);
    outline: 10px solid var(--color-1);
    background-color: var(--color-4);
    border-radius: 100%;
    width: 40%;
    padding: 55px;
    margin: 10% 20% 5% 20%;
}

nav li {
    padding: 10px;
    list-style-type: none;
    margin-left: 25px;
}
/* nav links will have a shadow that seems to jump to the text, resulting in the text becoming the color of the shadow, seen in the :hover portion */
nav li a {
    text-decoration: none;
    color: var(--color-3);
    font-size: 2.5em;
    text-shadow: var(--color-2) 2px 10px 2px;
    border-radius: 20%;
    transition: color .3s ease-in-out;
}
nav li a:hover {
    color: var(--color-2);
    text-shadow: none;
}
h2 {
    width: 100%;
    text-align: center;
}
/* the form is pretty basic and (along with the button) follows the color scheme */
.my-form {
    border: 10px dashed var(--color-4);
    outline: 10px solid var(--color-1);
    background-color: var(--color-2);
    padding: 10%;
    margin: 10% 10% 10% 10%;
    color: var(--color-3);
}
input {
    text-shadow: var(--color-2) 2px 2px 2px;
}
button {
    background-color: var(--color-3);
    color: var(--color-4);
}

/* a basic bio/about box w/ color scheme */
main {
    margin: 5% 1% 1% 1%;
    border: 10px solid var(--color-1);
    outline: 10px solid var(--color-2);
    border-top-left-radius: 20%;
    background-color: var(--color-3);
    color: var(--color-4);
}
/* a nice, readable font for the paragraph with line-height increased for better reading and less scrunching together. the padding serves the same purpose with just a little on the sides */
main p {
    font-family: "Gill Sans", sans-serif;
    line-height: 2.5em;
    padding: 5% 2% 1% 2%;
}

/* project-box is a nested flexbox with column direction that will change w/bigger screen */
.project-box {
    width: 100%;
    margin-top: 10px;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; /*smaller cards look a bit nicer w/align-items set */
}
.project-box h2 {
    color: var(--color-2);
    background-color: var(--color-4);
    width: 50%;
    padding: 2%;
    border-radius: 50%;
}
/* yet another flex dimension, the individual cards have display:flex to make lining up the title/description with the thumbnail easier */
.card {
    display: flex;
    width: 40%;
    align-items: center;
    /* padding:25px 5px 5px 15px; */
    border: 3px solid var(--color-3);
    outline: 3px solid var(--color-2);
    flex-direction: column;
    border-top-left-radius: 10%; 
    margin: 1%;
}
#card-1 {
    width: 60%;
}

.project-link img {
    width: 90%;
    height: auto;
    margin-left: 10%; 
}

/* smaller font-size for smaller screen, will grow w/ bigger screensizes.  */
.description {
    background-color: var(--color-2);
    order: -1;
    color: var(--color-4);
    border-radius: 50%;
    width: 50%;
    font-size: .5em;
    text-align: center;
}

/* footer is the contact/social-media section, using space-evenly to nicely spread the links/icons across the footer. follows color scheme and has 1 rounder corner similar to header  */
footer {
    border-top: 15px solid var(--color-1);
    background-color: var(--color-3);
    margin-top: 35px;
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 42%;
    outline: 15px solid var(--color-2);
}

/* gets rid of underline and sets up for a nice little effect w/box shadow seen in the hover pseudo class, w/text color becoming the shadow color */
.contact a {
    text-decoration: none;
    color: var(--color-4);
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.contact a:hover {
    box-shadow: inset 150px 0 0 0 var(--color-4);
    color: var(--color-2);
}

/* flex-direction shifts from column to row w/screen width increasing, project cards will be 2 per row instead of 1, and description tag text increases in size. nav width % decreases to remain as close to a circle as possible */

@media screen and (min-width:800px) {
    .container {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    nav {
        width: 35%;
    } 
    .project-box {
        flex-flow: row wrap;
    }
    .description {
        text-align: center;
        font-size: 1.5vmin;
    }
}

/* at 1100px, the form section and the about section are side-by-side, and the about section has a slight skew effect that goes away with hover. nav adjusts width% again and certain text increases as needed to look better */
@media screen and (min-width: 1100px) {
    .container {
        flex-direction: row;
    }
    header h1 {
        font-size: 3.5em;
    }
    header h2 {
        margin-left: 10%;
    }
    nav {
        width: 25%;
        align-self: center;
    }
    .my-form {
        width: 20%;
        margin: 1% 1% 1% 1%;
    } 
    main {
        margin-top: 10px;
        transform: skew(-20deg);
        width: 45%;
    }
    main p {
        font-family: "Gill Sans", sans-serif;
        line-height: 2.5em;
        padding: 10px;
    }
    main:hover {
        transform: none;
    }
    .description {
        font-size: 1em;
    }
}    


@media screen and (min-width: 1800px) {
    nav {
        width: 15%;
    };

}